@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
/* font-family: "Noto Sans KR", sans-serif; */
*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: "Noto Sans KR", sans-serif;
}
ol, ul{
    list-style: none;
}
a{text-decoration: none; color: #000;}
img{
    vertical-align: top;
    width: 100%;
    border: none;
}
.none{
    display: none;
}
.wrap{
    width: 100%;
    height: auto;/*중요*/
}
.scrollend{
    position: fixed;
    right: 30px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    z-index: 10;
}
/* #header */
#header{
    height: 156px;
    /* background: #ff0; */
}
#header .headIn{
    width: 1250px;
    /* width: 65.104%; */
    height: 156px;
    margin: 0 auto;
    text-align: center;
}
#logo{
    display: inline-block;
    width: 244px;
    height: 37px;
    margin: 40px 0 27px;
}
#logo img{
    width: 100%;
}
#nav>ul>li{
    display: inline-block;
    position: relative;
}
#nav>ul>li:last-child>a{
    margin-right: 0;
}
#nav>ul>li>a{
    display: block;
    font-size: 16px;
    margin-right: 78px;
    height: 40px;
    line-height: 40px;
}
#nav .sub{
    position: absolute;
    z-index: 10;
    /* width: 160%; */
    /* margin-left: -30%; */
    width: 160px;
    /* margin-left:  */    
    transform: translateX(-25%);
    background: #fff;
    text-align: left;
    font-size: 13px;
    display: none;
    box-shadow: 5px 5px 10px rgba(0,0,0,.5);
}
#nav .sub a{
    display: block;
    line-height: 30px;
    padding: 5px 10px;
}
#nav>ul>li:hover>a{
    color: #0033C3;
}
#nav .sub a:hover{
    background: #0033C3;
    color: #fff;
}
.main{
    height: 900px;
    /* background: #09f; */
}
/* 화면에 보여지는 크기 */
.slideWrap{
    width: 100%;
    max-width: 100%; height: 900px;
    position: relative; left: 0; top: 0; 
    /* background: #f00; */
    overflow: hidden;
}
.arrow a{
    display: block;
    position: absolute;
    /* width: 20px;
    height: 40px;
    background: #ff0; */
    top: 50%;
    transform: translateY(-50%);
    font-size: 35px;
    z-index: 10;
} 
.arrow a.left{
    left: 30px;
}
.arrow a.right{
    right: 30px;
}
.rolling{
    position: absolute;
    left: 55%;
    bottom: 50px;
    width: 300px;
    height: 20px;
    transform: translateX(-50%);
    /* background: #ff0; */
    text-align: center;
    line-height: 20px;
    z-index: 10;
}
.rolling li{/*가로배치*/
    float: left;
}
.rolling li a{
    display: block;
    width: 20px; height: 20px;
    background: #fff;
    border-radius: 50%;
    text-indent: -99999px;
    margin-right: 20px;
}
.rolling li:last-child a{
    margin-right: 0;
}
.rolling li.on a{
    background: #s;
}
.slide ul{/*이미지들이 들어가는 전체크기*/
    /* width: 15360px; */
    /*1920*8*/
    width: 400%;
    height: 900px;
    position: absolute;
    left: 0px; top: 0;
}
.slide li{/*하나의 요소크기*/
    float: left;
    /* width: 1920px; */
    width: 25%;/*100%/8*/
    height: 900px;
}
.slide li img{
    width: 100%;
}
#section{
    width: 100%;
    height: auto;
    margin: 0 auto;
    /* background: #ff0; */
}
.content1{
    /* height: 270px; */
    height: 300px;
    /* padding: 72px 0 90px; */
    margin: 90px 0 0;
    text-align: center;
    overflow: hidden;
}
/* .content1>div{
    transform: translateY(110px);
    transition: all 1.5s;
}
.content1>div.on{
    transform: translateY(0);
} */
.content1 p{
    font-size: 30px;
    line-height: 1.6;
    font-weight: 600;
    letter-spacing: 2px;
    color: #0033C3;
    margin-bottom: 20px;
}
.content1 .c1text{
    color: #0033C3;
    font-weight: 500;
}
.content1 .c1text2{
    margin-top: 50px;
    font-size: 16px;
    color: #888;
    font-weight: 300;
}
.content1 span{
    font-size: 18px;
    color: #888;
    text-transform: capitalize;
    font-weight: 300;
}
.content2{
    width: 100%;
    height: 800px;
    padding-bottom: 50px;
    text-align: center;
    /* color: #0033C3 */
}
.c2title h2{
    padding: 80px 0 50px;
    font-size: 40px;
    color: #0033C3;
}
.content2 .cont{
    display: flex;
    justify-content: space-between;
    width: 1720px;
}
.content2 .box{
    width: 396px; height: 440px;
    margin-left: 63px;
}
.content2 .imgBox{
    width: 396px;
    height: 396px;
    overflow: hidden;
}
.content2 .imgBox img{
    height: 100%;
    transform: scale(1);
    transition: all 1s;
}
.content2 .imgBox img:hover{
    transform: scale(1.2);
}
.content2 .textBox{
    width: 396px;
    height: 140px;
    padding: 33px 0;
    text-align: center;
}
.content2 .textBox .title{
    font-size: 18px;
    color: #333;
    padding-bottom: 20px;
    border-bottom: 1px solid #ececec;
}
.content2 .textBox p{
    color: #333;
    font-size: 18px;
    font-weight: 600;
    margin-top: 15px;
    line-height: 1.6;
}
.content2 .c2text1{
    color: #0033C3;
    font-weight: 500;
    margin-right: 10px;
}
.content2 .c2text2{
    font-size: 14px;
    margin-left: 10px;
    color: #888;
    text-decoration:line-through ;
}
.content3{
    border-bottom: 70px solid #0033C3;
    height: 900px;
    padding-bottom: 30px;
    text-align: center;
}
.content3 .title{
    height: 100px;
    padding: 20px 0 50px;
    font-size: 40px;
    background: #0033C3;
    color: #fff;
}
.content3 .box2{
    margin-top: 80px;
}
.content3 .screen{
    display: flex;
    justify-content: space-evenly;
}
.content3 .screen li{
    width: 500px;
    height: 500px;
}
.content3 .screen li a{
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}
.content3 .screen li a::before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 500px;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
    opacity: 0;
    transition: all 0.5s;
}
.content3 .screen li a:hover:before{
    opacity: 1;
}
.content3 .c3text1{
    margin: 30px 0 30px;
    color: #333;
    font-size: 18px;
    font-weight: 600;
}
.content3 .c3text2{
    color: #333;
    font-size: 18px;
    font-weight: 500;
}
.content3 .sale{
    color: #0033C3;
    font-size: 18px;
    font-weight: 500;
    margin-right: 10px;
}
.content3 .sale:last-child{
    margin-right: 0;
}
.content3 .sale2{
    font-size: 14px;
    margin-left: 10px;
    color: #888;
    text-decoration:line-through ;
}
.content3 .sale2:last-child{
    margin-left: 0;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.swiper-slide img {
  display: block;
  width: 353px;
  height: 353px;
  object-fit: cover;
}
.swiper #stitle{
    font-size: 40px;
    text-align: center;
    margin: 55px 0 45px;
    color: #0033C3;
    font-weight: 600;
    text-transform: uppercase;
}
#footer{
    width: 100%;
    height: 250px;
    margin-top: 70px;
    background: #0033C3;
}
.footin{
    width: 1720px;
    height: 250px;
    margin: 0 auto;
}
.foot1 #flogo{
    width: 140px;
    height: 23px;
    margin-top: 35px;
}
.footin .foot1{
    width: 860px;
    height: 250px;
    float: left;;
 }
 .foot1 ul{
    margin-top: 25px;
 }
 .foot1 li{
     display: inline-block;
     font-size: 20px; 
     padding: 0 8px;
     border-right: 2px solid #fff;
 }
 .foot1 li:first-child{
     padding-left: 0;
 }
 .foot1 li:last-child{
     padding-right: 0;
     border-right: none;
 }
 .foot1 li a{
     color: #faeff0
 }
 .foot1 .ftext{
    color: #fff;
    margin-top: 10px;
    font-size: 13px;
 }
 .foot1 .fimg{
    width: 40px;
    height: 40px;
    margin-top: 10px;
 }
 .foot2{
    width: 860px;
    height: 250px;
    float: right;
    color: #fff;
 }
 .sns ul{
    margin: 30px 0 40px;
 }
 .sns ul li{
    display: inline-block;
 }
 .sns ul li a{
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 15px;
 }
 .ftext2 span{
    font-size: 15px;
 }